<%- include("./templates/head.ejs"); %>

<body>
    <div class="data-scroll-container"></div>
        <%- include("./Components/Navbar.ejs") %>
        <%- include("./Components/hero.ejs") %>
        <%- include("./Components/About-me.ejs") %>
        <%- include("./Components/Skills.ejs") %>
        <%- include("./Components/Projects.ejs") %>
        <%- include("./Components/Contact.ejs") %>
        <%- include("./Components/Footer.ejs") %>
        <%- include("./Components/back-to-top.ejs") %>
    </div>
</body>
</html>